<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop_behind.dao.PropertyDao">


    <select id="queryCount" parameterType="com.fh.shop_behind.entity.vo.PropertyParams" resultType="java.lang.Long">
        select count(*) from shop_property where 4=4
        <if test="nameCH!=null and nameCH!=''">
            and nameCH=#{nameCH}
        </if>

    </select>

    <select id="queryProperty" parameterType="com.fh.shop_behind.entity.vo.PropertyParams" resultType="com.fh.shop_behind.entity.po.Property">
        select * from shop_property where 3=3
        <if test="nameCH!=null and nameCH!=''">
            and nameCH=#{nameCH}
        </if>
        limit ${size*(currPage-1)},#{size}
    </select>


    <insert id="addPro">
        insert into shop_property
        (name,nameCH,color,colorCH,typeId,type,isSKU,isDel,createDate,updateDate,author)
        value
        (#{name},#{nameCH},#{color},#{colorCH},#{typeId},#{type},#{isSKU},#{isDel},#{createDate},#{updateDate},#{author})
    </insert>

    <delete id="delPro">
        delete from shop_property where id=#{id}
    </delete>


    <update id="updatePro">
        update shop_property set
          name = #{name},nameCH = #{nameCH},color = #{color},colorCH = #{colorCH},typeId = #{typeId},isSKU=#{isSKU},isDel = #{isDel},createDate=#{createDate},updateDate=#{updateDate},author=#{author}
          where id = #{id}
    </update>



</mapper>
