<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop_behind.dao.PropertyDao">


    <select id="queryCount" parameterType="com.fh.shop_behind.entity.vo.PropertyParams" resultType="java.lang.Long">
        select count(*) from shop_property pro left join  shop_type t on pro.typeId=t.id
        where 4=4

        <if test="nameCH!=null and nameCH!=''">
            and pro.nameCH like concat('%',#{nameCH},'%')
        </if>
        <if test="type!=null">
            and pro.type =#{type}
        </if>
        <if test="isSKU!=null">
            and pro.isSKU=#{isSKU}
        </if>

        and pro.isDel=0
    </select>

    <select id="queryProperty" parameterType="com.fh.shop_behind.entity.vo.PropertyParams" resultType="com.fh.shop_behind.entity.vo.PropertyShow">
        select pro.id,pro.name,pro.nameCH,t.name as typeName,pro.isSKU,pro.type,pro.typeId,pro.isDel from shop_property pro LEFT JOIN shop_type t on pro.typeId=t.id
        where 3=3
        <if test="nameCH!=null and nameCH!=''">
            and pro.nameCH like concat('%',#{nameCH},'%')
        </if>
        <if test="type!=null">
            and pro.type =#{type}
        </if>
        <if test="isSKU!=null">
            and pro.isSKU=#{isSKU}
        </if>
          and pro.isDel=0
        limit ${size*(currPage-1)},#{size}
    </select>


    <insert id="addPro">
        insert into shop_property
        (name,nameCH,typeId,type,isSKU,isDel,createDate,updateDate,author)
        value
        (#{name},#{nameCH},#{typeId},#{type},#{isSKU},#{isDel},#{createDate},#{updateDate},#{author})
    </insert>



    <update id="updatePro">
        update shop_property set
          name = #{name},nameCH = #{nameCH},color = #{color},colorCH = #{colorCH},typeId = #{typeId},isSKU=#{isSKU},isDel = #{isDel},updateDate=#{updateDate},author=#{author}
          where id = #{id}
    </update>




</mapper>
