<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop_behind.dao.RoleDao">
    <select id="queryRoleCount" resultType="java.lang.Long">
        select count(*) from a_role where 4=4

        <if test="name!=null and name!=''">
            and name=#{name}
        </if>

    </select>

    <select id="queryRole" resultType="com.fh.shop_behind.entity.po.Role">
        select * from a_role where 3=3
        <if test="name!=null and name!=''">
            and name=#{name}
        </if>
        limit ${size*(currPage-1)},#{size}
    </select>


</mapper>
